@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@300&display=swap');
html{
    font-family: 'Taviraj', serif;
}
body {
    background-color: #b5e48c;
}
.post {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: bisque;
    margin: 1.5rem 6rem;
}
.par {
    margin:1rem 6rem;
}
.btnpost {
    padding:15px 40px;
    margin:0 0 30px 0;
    border:2px solid black;
    box-shadow: -5px 5px #184e77;
    background-color: #b5e48c;
    border-radius: 25px;
    font-size: 15px;


}
.btnpost:hover {
    box-shadow: 0px;
}